<?xml version="1.0" encoding="utf-8"?>

<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<EnvironmentName>Development</EnvironmentName>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>C:\Projects\Production\Comics</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<_TargetId>Folder</_TargetId>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net8.0</TargetFramework>
		<ProjectGuid>088d04ff-b703-4aa7-8bd9-6951466e8439</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
</Project>